{% load static %}
<div class="footer-content">
    <div class="content-align">
        <div class="logo">
            <img src="{% static 'img/E-shop.png' %}" alt="">
        </div>
        <div class="text-footer">
            <p>e-Shop é um destino online exclusivo para experiências de compras excepcionais. Nosso compromisso é proporcionar aos clientes uma seleção cuidadosamente curada de produtos de alta qualidade, combinando conveniência, estilo e inovação.</p> 
        </div>
        <div class="contact-footer">
            <p>Contato:</p>
            <ul>
                <li>Telefone: (XX) XXXX-XXXX</li>
                <li>E-mail: info@e-shop.com</li>
            </ul>
            
        </div>
    </div>
    <div class="social-media">
        <a href="#"><img src="{% static 'img/instagram.svg' %}" alt=""></a>
        <a href="#"><img src="{% static 'img/facebook.svg' %}" alt=""></a>
        <a href="#"><img src="{% static 'img/twitter.svg' %}" alt=""></a>
    </div>
</div>